:root {
	--menuwidth: 440px;
}

#sidebar {
	width: var(--menuwidth);
	height: 100vh;
	background-color: var(--blue);
	position: fixed;
	top: 0;
	left: 0;
	transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
	overflow: scroll;
	z-index: 1000;
}

#sidebar.hide {
	transform: translate3d(100vw, 0, 0);
}

#sidebar.show {
	transform: translate3d(calc(100vw - var(--menuwidth)), 0, 0);
	overflow: hidden;
}

.menu-close {
	font-size: 3.3em;
	text-align: right;
	padding-top: 20px;
	color: var(--black);
	/* border: 2px solid red; */
	position: relative;
	left: calc(100% - 30% - 25px);
	width: 30%;
	display: block;
}

.menu-close-span {
	transition: 0.5s ease-out;
	padding: 0 10px 0 30px;
	/* border: 2px solid blue; */
}

.menu-close-span:hover {
	color: var(--white);
	/* transform: scale(1.5); */
	/* animation-name: spin; */
	/* transition-timing-function: ease-out; */
	/* transform: rotateY(90deg); */
	/* transform: skew(90deg); */
}
