:root {
	--menuwidth: 440px;
}

#sidebar {
	width: var(--menuwidth);
	height: 100vh;
	background-color: var(--blue);
	position: fixed;
	top: 0;
	left: 0;
	transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
	overflow: scroll;
	padding: 0 20px 0 30px;
}

#sidebar.hide {
	transform: translate3d(100vw, 0, 0);
}

#sidebar.show {
	transform: translate3d(calc(100vw - var(--menuwidth)), 0, 0);
	overflow: hidden;
}

.menu-close {
	font-size: 3.3em;
	text-align: right;
	padding-top: 20px;
	color: var(--black);
	position: relative;
	left: calc(100% - 30% - 60px);
	width: 30%;
	display: block;
}

.menu-close-span {
	transition: 0.5s ease-out;
	padding: 0 10px 0 30px;
}

.menu-close-span:hover {
	color: var(--white);
}
