.MenuButton {
	/* transition: 0.5s ease-in; */
	color: var(--black);
}

.MenuButton:hover {
	text-decoration: underline var(--blue) wavy 2.5px;
	cursor: pointer;
}

#fa-upload {
	padding-left: 8px;
}
