@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* https://coolors.co/011627-78cad2-f3f7f6-5497a7-e5625e */

:root {
	--blue: #78cad2;
	--greyblue: #5497a7;
	--red: #e5625e;
	--white: #f3f7f6;
	--black: #011627;
	--font: "Lato Regular", "Segoe UI", "Helvetica", "Arial", sans-serif;
}

.App {
	text-align: left;
	min-height: 100vh;
	font-family: var(--font);
}

.App-logo {
  height: auto;
  width: 40%;
  max-width: 620px;
  margin-left: 20px;
  pointer-events: none;
}

.App-header {
	background-color: var(--blue);
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: var(--white);
}

a {
  color: var(--red);
  text-decoration: none;
}

a:hover {
  color: var(--greyblue);
}

.search-section {
  display: flex;
  justify-content: space-around;
}

/* below is used to toggle reset filter button*/
.reset-button {
  visibility: hidden;
}

.reset-button.show {
  visibility: visible;
}

/*BUTTONS*/
button,
input[type="text"] {
	font-family: var(--font);
	font-size: 1.05em;
	background-color: transparent;
	border: 0.5px solid var(--black);
	color: var(--black);
	border-radius: 5px;
	margin-left: 10px;
	line-height: 1.2em;
	vertical-align: middle;
	padding-bottom: 2px;
}

button:hover {
	background-color: var(--blue);
	border: 0.5px solid var(--blue);
}

/*INPUTS*/
input[type="text"] {
	margin-left: 4px;
	padding-left: 6px;
	width: 6em;
}

.react-icons {
	vertical-align: middle;
}
