/* https://coolors.co/011627-78cad2-f3f7f6-5497a7-e5625e */

:root {
	--blue: #78cad2;
	--greyblue: #5497a7;
	--red: #e5625e;
	--white: #f3f7f6;
	--black: #011627;
}

.App {
	text-align: left;
	min-height: 100vh;
}

.App-logo {
	max-height: 100%;
	width: 40%;
	margin-left: 20px;
	pointer-events: none;
}

.App-header {
	background-color: var(--blue);
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
