:root {
	--f-size: 200px;
	--i-size: 100px;
}

.folio {
	width: var(--f-size);
	height: var(--f-size);
	border: 1px solid black;
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: calc(var(--f-size) / 4);
}

.folio-img {
	max-width: var(--i-size);
	border-radius: 20px;
}

.folio-desc p {
	margin: 0.3em auto;
}

.folio-desc p:first-child {
	margin: 0 auto;
	background-color: green;
}

.like-div {
	display: inline;
	text-align: center;
	position: relative;
	left: calc(var(--i-size) / 2 - 10px);
	bottom: calc(var(--i-size) / 3);
	font-size: 1.5em;
	line-height: 0.2em;
	height: 10px;
	background-color: yellow;
}
