.FolioList {
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	margin: auto;
}

@media only screen and (max-width: 1600px) {
	.FolioList {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 1120px) {
	.FolioList {
		grid-template-columns: 1fr 1fr;
	}
}

#length-zero-msg {
	text-align: center;
	font-weight: 700;
	font-size: 1.2em;
}
