
    
    .footer {
   
     background:white; 
     width: 100vw; 
     height: auto;
     color:black; 
     padding-top: 250px;
     display: inline-block;
     text-align: center;
     font-size: 0.5em;


           
    } 


    
    .Text {
      font-size: medium;
    }
    
  
  .socials {

    display:inline-block;
    vertical-align:top;
    margin-right: 3em;
    padding-left: 7em;
    text-align: center;

  }

  .socials span {
   
    font-size: 2.5em;
    padding-left: 10px;
  }

  .socials span :first-child{
   
    padding-left: 0;


  }